body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* ----------- Login Page CSS ----------- */
.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.login-subtitle {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.login-input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.login-button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #45a049;
}

.login-container h5 {
  text-align: center;
  margin-top: 15px;
}

.login-container a {
  display: block;
  text-align: center;
  margin-top: 5px;
  text-decoration: none;
  color: #007bff;
}

.login-container a:hover {
  text-decoration: underline;
}

/* ----------- SignUp Page CSS ----------- */
.signup-container {
  overflow: hidden;
  width: 600px;
  height: 100%;
  margin: 0 auto;
  margin: 100px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
  margin-top: 10vh;
}

.signup-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.signup-subtitle {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.signup-input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.signup-button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #45a049;
}

/* ---- Already have an account? Section ---- */
.already-account {
  text-align: center;
  margin-top: 15px;
}

.login-link {
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
}

.login-link:hover {
  text-decoration: underline;
}
